absl-py==1.4.0
amqp==5.1.1
asgiref==3.7.2
beautifulsoup4==4.12.2
billiard==4.1.0
celery==5.3.4
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
contourpy==1.1.0
cryptography==41.0.3
cycler==0.11.0
defusedxml==0.7.1
Django==4.2.5
django-celery-results==2.5.1
django-cors-headers==4.2.0
django-debug-toolbar==4.2.0
django-enum-choices==2.1.4
django-filter==23.2
django-taggit==4.0.0
django-templated-mail==1.1.1
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.0
djoser==2.2.0
dm-tree==0.1.8
drf-yasg==1.21.7
environs==9.5.0
filelock==3.12.3
fonttools==4.42.1
gdown==4.7.1
h5py==3.9.0
idna==3.4
imageio==2.31.3
importlib-resources==6.0.1
inflection==0.5.1
install==1.3.5
keras-core==0.1.5
kiwisolver==1.4.5
kombu==5.3.2
lazy_loader==0.3
markdown-it-py==3.0.0
marshmallow==3.20.1
matplotlib==3.7.2
mdurl==0.1.2
namex==0.0.7
networkx==3.1
numpy==1.25.2
oauthlib==3.2.2
opencv-python==4.8.0.76
opennsfw2==0.11.0
packaging==23.1
Pillow==10.0.0
prompt-toolkit==3.0.39
pycparser==2.21
Pygments==2.16.1
PyJWT==2.8.0
pyparsing==3.0.9
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==1.0.0
python3-openid==3.2.0
pytz==2023.3.post1
PyWavelets==1.4.1
PyYAML==6.0.1
requests==2.31.0
requests-oauthlib==1.3.1
rich==13.5.2
scikit-image==0.21.0
scipy==1.11.2
six==1.16.0
social-auth-app-django==5.3.0
social-auth-core==4.4.2
soupsieve==2.5
sqlparse==0.4.4
tifffile==2023.8.30
tqdm==4.66.1
typing_extensions==4.7.1
tzdata==2023.3
uritemplate==4.1.1
urllib3==2.0.4
vine==5.0.0
wcwidth==0.2.6
zipp==3.16.2
